<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arkham Cards App Front Page</title>
    <link rel="stylesheet"  href="/public/css/normalize.css">
	<link rel="stylesheet"  href="/public/css/style.css">
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
</head>
<body>
<h1>Arkham Horror Card Database</h1>

<button class ="sPage">Investigator Card Search</button>
<button class ="dList">See Decks</button>
<button class ="bPage">Build a Deck</button>
</body>

<!-- <script type="text/javascript" src = '/public/js/main.js'></script> -->
</html>
